<!DOCTYPE html>
<html lang="fr">

<%- include('head') %> 
  <body>

  	<style>

  	@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed|Roboto+Slab|Roboto:100,300,400,500,700,900');

		td {font-family: 'Roboto',sans-serif;border: 2em solid transparent;text-align: center;}
		a{text-decoration: none;} 
		tr>:first-child { background: Black; color: white;}
		tr:first-child { background: #3498DB; color: white; border: none;}
	</style>

	<%- include('entete') %> 
	<%- include('form_post') %>
	<%- include('fonction') %>
	<%- include('footer') %>  
  </body>


</html>